@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="https://localhost:7117/blobs/src/example.jpg"/>

<br />

<img width="200" height="200" src="https://localhost:7117/blob/example.jpg?format=webp&type=resize&width=200&height=200" alt="Example image"/>

<br />
<img width="200" height="200" src="https://localhost:7117/blob/example.jpg?format=webp&type=crop&width=200&height=200" alt="Example image"/>

<br />
<img width="200" height="200" src="https://localhost:7117/blob/example.jpg?format=webp&type=fit&width=200&height=200" alt="Example image"/>

<br />
<img width="200" height="200" src="https://localhost:7117/blob/example.jpg?format=webp&type=cover&width=200&height=200" alt="Example image"/>

<br />
<br />
<br />


<img width="200" height="100" src="https://localhost:7117/blob/example.jpg?format=webp&type=resize&width=200&height=100" alt="Example image"/>

<br />
<img width="200" height="100" src="https://localhost:7117/blob/example.jpg?format=webp&type=crop&width=200&height=100" alt="Example image"/>

<br />
<img width="200" height="100" src="https://localhost:7117/blob/example.jpg?format=webp&type=fit&width=200&height=100" alt="Example image"/>

<br />
<img width="200" height="100" src="https://localhost:7117/blob/example.jpg?format=webp&type=cover&width=200&height=100" alt="Example image"/>
